<a href="https://colab.research.google.com/github/alkarps/GB.Theory-of-Probability-and-Mathematical-Statistics/blob/hw03/hw03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Урок 3. Описательная статистика. Качественные и количественные характеристики популяции. Графическое представление данных**

In [1]:
import numpy as np
from math import factorial

def combinations(n, k):
    return int(factorial(n) / (factorial(k) * factorial(n - k)))

def arrangements(n, k):
    return int(factorial(n) / factorial(n - k))

def permutations(n):
    return int(factorial(n))

def bernulli(n, k, p):
    return combinations(n, k)*np.power(p, k)*np.power(1-p, n-k)

def puason(n, k, p):
    lambda_ = n*p
    return np.power(lambda_, k)*np.exp(-lambda_)/np.math.factorial(k)

### **Задание 1**

Даны значения зарплат из выборки выпускников: 100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150. Посчитать (желательно без использования статистических методов наподобие std, var, mean) среднее арифметическое, среднее квадратичное отклонение, смещенную и несмещенную оценки дисперсий для данной выборки.

In [2]:
salaries = np.array([100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150])
salaries, salaries.mean(), salaries.std(), salaries.var(), salaries.var(ddof=1)

(array([100,  80,  75,  77,  89,  33,  45,  25,  65,  17,  30,  24,  57,
         55,  70,  75,  65,  84,  90, 150]),
 65.3,
 30.823854398825596,
 950.11,
 1000.1157894736842)

In [3]:
mean = np.sum(salaries)/salaries.size
mean

65.3

In [4]:
std = np.sqrt(np.sum(np.square(salaries-mean))/(salaries.size))
std

30.823854398825596

In [5]:
var0 = np.sum(np.square(salaries - mean))/salaries.size
var0

950.11

In [6]:
var1 = np.sum(np.square(salaries - mean))/(salaries.size-1)
var1

1000.1157894736842

### **Задание 2**

В первом ящике находится 8 мячей, из которых 5 - белые. Во втором ящике - 12 мячей, из которых 5 белых. Из первого ящика вытаскивают случайным образом два мяча, из второго - 4. Какова вероятность того, что 3 мяча белые?

In [7]:
def p_bucket(n, w, r):
  p = []
  all_comb = combinations(n,r)
  for i in range(r+1):
    comb_w = combinations(w,i)
    comb_b = combinations(n-w, r-i)
    p.append(comb_w*comb_b/all_comb)
  return tuple(combinations(w,i)* combinations(n-w, r-i) / all_comb for i in range(r+1))

p_b1 = p_bucket(8, 5, 2)
p_b2 = p_bucket(12, 5, 4)
p_b1[0]*p_b2[3] + p_b1[1]*p_b2[2] + p_b1[2]*p_b2[1]

0.3686868686868687

### **Задание 3**

На соревновании по биатлону один из трех спортсменов стреляет и попадает в мишень. Вероятность попадания для первого спортсмена равна 0.9, для второго — 0.8, для третьего — 0.6. Найти вероятность того, что выстрел произведен: a). первым спортсменом б). вторым спортсменом в). третьим спортсменом.

In [8]:
p_s = 1/3
p_1_s = 0.9
p_2_s = 0.8
p_3_s = 0.6
p_full = p_s*(p_1_s+p_2_s+p_3_s)
pA = p_s*p_1_s/p_full
pB = p_s*p_2_s/p_full
pC = p_s*p_3_s/p_full
pA, pB, pC

(0.3913043478260869, 0.34782608695652173, 0.26086956521739124)

### **Задание 4**

В университет на факультеты A и B поступило равное количество студентов, а на факультет C студентов поступило столько же, сколько на A и B вместе. Вероятность того, что студент факультета A сдаст первую сессию, равна 0.8. Для студента факультета B эта вероятность равна 0.7, а для студента факультета C - 0.9. Студент сдал первую сессию. Какова вероятность, что он учится: a). на факультете A б). на факультете B в). на факультете C?

In [9]:
p_a = 1/4
p_b = 1/4
p_c = 2/4
p_a_s = 0.8
p_b_s = 0.7
p_c_s = 0.9
p_full = p_a*p_a_s + p_b*p_b_s + p_c*p_c_s
pA = p_a*p_a_s/p_full
pB = p_b*p_b_s/p_full
pC = p_c*p_c_s/p_full
pA, pB, pC

(0.24242424242424246, 0.21212121212121213, 0.5454545454545455)

### **Задание 5**

Устройство состоит из трех деталей. Для первой детали вероятность выйти из строя в первый месяц равна 0.1, для второй - 0.2, для третьей - 0.25. Какова вероятность того, что в первый месяц выйдут из строя: а). все детали б). только две детали в). хотя бы одна деталь г). от одной до двух деталей?

In [10]:
p1 = 1/3 * 0.1 / (1/3 * 0.1 + 1/3 * 0.2 + 1/3 * 0.25)
p2 = 1/3 * 0.2 / (1/3 * 0.1 + 1/3 * 0.2 + 1/3 * 0.25)
p3 = 1/3 * 0.25 / (1/3 * 0.1 + 1/3 * 0.2 + 1/3 * 0.25)
p1 = 0.1
p2 = 0.2
p3 = 0.25
p1, p2, p3

(0.1, 0.2, 0.25)

In [11]:
p_all = p1 * p2 * p3
p_all

0.005000000000000001

In [12]:
p_two = p1*p2 + p2*p3 + p1*p3 - p_all
p_two

0.09

In [13]:
p_one = p1 + p2 + p3 - p_two
p_one

0.4600000000000001

In [14]:
p_zero = 1 - p_all - p_two - p_one
p_zero

0.44499999999999995